<div class="holder">
<div class="title">
    <h3>Bloc List</h3>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Libelle</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.code}}</td>
            <td>{{this.libelle}}</td>
            
            <td>
                <a href="   /{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/bloc/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
