<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<center>
<body>
    <center><h5 style="font-size: larger;"> QRCODE  Occupation  Salle </h5></center>
    <div class="container">

        <img src="{{this.src}}" alt="QR Code">
        <br>
        <a href="/occupation/list" role="button" class="btn btn-primary">Back</a>
    </div>
</body></center>

</html>